:root {
--background-color: #ffffff;
--text-color: #434455;
--footer-text-color: #e7e9fc;
--btn-color: #e7e9fc;
--btn-active-colore: #4d5ae5;
--hover-focus-color: #404bbf;
}
body {
font-family: "Roboto", sans-serif;
font-weight: 400;
line-height: 1.5;
background-color: #ffffff;
color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding-top: 8px;

}
img {
    display: block;
}
ul {
list-style-type: none;
margin: 0;
padding-left: 0;
}
a {
text-decoration: none;
color: #2e2f42;
}
p {
font-family: inherit, "sans-serif";
font-size: 16px;
color: var(--text-color);
letter-spacing: 0.02em;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*header*/
.header {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo {
font-family: "Raleway", "sans-serif";
font-weight: 800;
font-size: 18;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
display: flex;
margin-right: 70px;
margin-left:156px;;
}
.log {
    color: #4d5ae5;
}
.header-list {
font-family: inherit, "sans-serif";
font-weight: 500;
font-size: 16px;
display: flex;
gap: 40px;
}
.header-n{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu:hover,
.menu:focus {
color: var(--hover-focus-color);
}
.header-nav{
font-style: normal;
display: inline;
margin-right: 40px;
}

.contact:hover,
.contact:focus {
color: var(--hover-focus-color);
}
/*main*/
.title {text-align: center;
    
}
.title-container{
background-color: #2e2f42;
padding-top: 188px; 
padding-bottom: 292px;
text-align: center;
}
.title-text {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: #ffffff;
padding-bottom: 48px;
width: 494px;

}
.btn {
cursor: pointer;
padding: 16px 32px;
gap: 10px;
background-color: #4d5ae5;
font-family: inherit;
font-weight: 500;
color: #ffffff;
font-size: 16px;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.btn:hover,
.btn:focus {
background-color: var(--hover-focus-color);
}
.visually-hiden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.charecter-list {
    display: flex;
    gap: 24px;
}
/*portfolio*/
.portfolio {
    display: flex;
    padding-top: 96px;
    padding-bottom: 72px;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio-btn {
cursor: pointer;
padding: 12px 24px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
color: #4d5ae5;
background-color: var(--btn-color);
border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;

}
.portfolio-btn:hover {
background-color: var(--btn-active-colore);
color: #ffffff;
}
/*end portfolio*/
.charecter {
padding-top: 32px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.hero { 
font-weight: 700;
font-size: 36px;
line-height: 1.1;
padding-top: 232px;
text-align: center;
padding-bottom: 72px;
}
.hero-box{
    display: flex;
    gap: 24px;
}
.hero-box1 {
background-color: var(--background-color);
display: flex;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;}

.title-hero {
    padding-bottom: 72px;
}
.hero-container {
background-color: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}
/*footer*/
.footer-container {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 188px;
}
.footer-logo {
font-family: "Raleway", "sans-serif";
font-weight: 800;
font-size: 18px;
text-transform: uppercase;
color: var(--footer-text-color);
line-height: 1.16;
margin-left:156px;;
}
.footer-sub {
    max-width: 264px;
color: var(--footer-text-color);
margin-left:156px;;
}
