:root {
--background-color: #ffffff;
--text-color: #434455;
--footer-text-color: #e7e9fc;
--btn-color: #F4F4FD;;
--btn-active-colore: #4d5ae5;
--hover-focus-color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding-top: 8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #2e2f42;
}
p {
    color: var(--text-color);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*header*/
.header {
    border-bottom: 1px solid #E7E9FC;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", "sans-serif";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    display: flex;
    margin-right: 70px;
}
.log {
    color: #4d5ae5;
}
.header-list {
    font-family: inherit, "sans-serif";
    font-weight: 500;
    font-size: 16px;
    display: flex;
}
.header-n{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu:hover,
.menu:focus {
    color: var(--hover-focus-color);
}
.menu {
    padding: 24px 0px ;
    display:block;
    margin-left: 40px;
}
.header-nav
{   font-style: normal;
    display: inline;
}
.header-nav:not(:last-child){
    margin-right: 40px;
}

.contact:hover,
.contact:focus {
    color: var(--hover-focus-color);
}
/*main*/
.title {
    background-color: #2e2f42;
    text-align: center;
    padding-top: 188px; 
    padding-bottom: 188px;;
}
.title-container{
    text-align: center;
}
.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    padding-bottom: 48px;
    max-width: 496px;
    margin-left: 330px;
}
.btn {
    cursor: pointer;
    padding: 16px 32px;
    gap: 10px;
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.btn:hover,
.btn:focus {
    background-color: var(--hover-focus-color);
}
.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.info {
    padding-top: 120px;
}
.charecter-list {
    display: flex;
    gap: 24px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/*portfolio*/
.portfolio-top {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio-btn {
    cursor: pointer;
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: #4d5ae5;
    background-color: var(--btn-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;

}
.portfolio-btn:hover {
    background-color: var(--btn-active-colore);
    color: #ffffff;
}
.list-oport {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.exampl{ border: 1px solid #E7E9FC;
border-top: none;
padding-left: 16px;
padding-top: 16px;
padding-bottom: 32px;
}

/*end portfolio*/

/*main*/
.charecter {
    color: var(--text-color);
    padding-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.hero { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-c {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
}
.hero-box{
    display: flex;
    gap: 24px;
}
.hero-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.hero-card {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    border-radius: 0px 0px 4px 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
}
.title-hero {
    padding-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
/*footer*/
.footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    font-family: "Raleway", "sans-serif";
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--footer-text-color);
    line-height: 1.16;

}
.footer-sub {
    max-width: 264px;
    color: var(--footer-text-color);
    margin-top: 16px;
    padding: 0;
}
